.login-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #FFF;
    font-size: 18px;
    border-radius: 8px;
    max-width: 595px;
    width: 100%;
    max-height: 190px;
    height: 100%;
}

.welcome{
    font-size: 20px;
    font-weight: bold;

}

.inp{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

/*
    display: flex;
    align-items: center; 
    justify-content: center;
*/

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.link {
    font-size: 13px;
    text-decoration: none;
    color: rgb(48, 68, 48);
    font-weight: bold;
}